.outerContainer {
  width: 100%;
  background-color: #fbfeff;
  padding: 62px 0;
  display: flex;
  justify-content: center;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fbfeff;
  padding: 108px 144px;
  align-items: center;
  justify-content: center;
  column-gap: 120px;
  max-width: 2000px; /* Prevents stretching */
  margin: 0 auto; /* Centers the container */
}

.imageSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image {
  font-size: 96px;
  font-weight: bold;
  color: #ff8359;
  letter-spacing: 0;
}

.textSection {
  display: flex;
  flex-direction: column;
  padding-top: 95.57px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  color: #002c5f;
  padding-left: 50px;
}

.description {
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  align-items: center;
  padding-top: 30px;
  padding-left: 50px;
  margin-top: 10px;
}
