.outerContainer {
  width: 100%;
  background-color: #dfebf3;
}

.innerContainer {
  display: grid;
  grid-template-columns: 5fr 3fr;
  background-color: #dfebf3;
  padding: 70px 230px;
  column-gap: 150px;
  max-width: 2000px; /* Prevents stretching */
  margin: 0 auto; /* Centers the container */
}

.textSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 100px;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  color: #002c5f;
}

.description {
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  align-items: center;
  padding-top: 40px;
}

.graphSection {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.graphTitle {
  font-size: 20px;
  color: #000000;
}
