.outerContainer {
  width: 100%;
  background-color: #dfebf3;
  display: flex;
  justify-content: center; /* Keeps everything centered */
  align-items: center;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  background-color: #dfebf3;
  padding: 108px 144px;
  column-gap: 120px;
  max-width: 2000px;
  margin: 0 auto;
  font-family: var(--font-montserrat);
}

.budgetSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.percentage {
  font-size: 96px;
  width: 80px;
  font-weight: bold;
  color: #ff7f50; /* Orange */
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
  color: #649de0;
}

.textSection {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  color: #002c5f;
}

.description {
  font-size: 20px;
  font-family: var(--font-open-sans);
  color: #000000;
  line-height: 1.5;
  align-items: center;
  padding-top: 40px;
}
