@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.helpOutGrid {
  display: grid;
  grid-template-columns: 720px 720px; /* Two equal columns */
  grid-template-rows: 493px; /* Fixed row height */
  gap: 0;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1440px; /* Match the width in your image */
  margin: 0 auto;
}

/* Responsive adjustments */
@media (max-width: 720px) {
  .helpOutGrid {
    grid-template-columns: 1fr; /* Stacks the content vertically when space is limited */
  }
}

.gridImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.helpOutText {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 87.69px 123px;
  justify-content: space-between;
  align-items: center;
  background: #2d5177;
  color: white;
  flex-direction: column;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

.helpOutText h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 29.49px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.96px;
  margin: 0;
  display: flex;
  align-items: center;
  height: 36px;
}

.helpOutText p {
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 133.333% */
  font-size: 18px;
  align-self: center;
}

.icon {
  width: 40px;
  margin-top: 10px;
}

.phoneIcon {
  width: 89px;
  height: 81px;
  top: 48px;
}

.catIcon {
  height: 96.098px;
  width: 124px;
  margin: 10px 0;
}
