@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.sampleScriptGrid {
  display: grid;
  grid-template-columns: 720px 720px; /* Two equal columns */
  grid-template-rows: 493px; /* Fixed row height */
  gap: 0;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 1440px; /* Match the width in your image */
  margin: 0 auto;
}

@media (max-width: 720px) {
  .sampleScriptGrid {
    grid-template-columns: 1fr; /* Stacks the content vertically when space is limited */
    grid-template-rows: auto; /* Let rows auto-size on smaller screens */
  }
}

.sampleScriptText {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 65.69px 119px;
  align-items: center;
  background: #e5eff4;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  gap: 48px;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

.sampleScriptText h2 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 29.49px;
  font-weight: 700;
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
}

.sampleScriptText p {
  color: #000000;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.icon {
  width: 89px !important;
  height: 82px !important;
}

.innerContainer {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
