.frame {
  position: fixed;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
  z-index: 1000;
}

.message {
  color: black;
  font-weight: 600;
  width: 309px;
}
.undoButton {
  border: 1.5px solid black;
  height: 48px;
  width: 91px;
  color: black;
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  background: transparent;
  gap: 6px;
  cursor: pointer;
  font-weight: 600;
}

.closeButton {
  padding: 0;
  margin-left: 8px;
  margin-right: 3px;
  color: black;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
