.section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}
.latest {
  width: 634px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 50px;
}

.header {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.latestTitle {
  font-size: 32px;
  color: #ff8359;
  font-weight: 700;
}

.previewCard {
  width: 195.442px;
  height: 253px;
  background-color: black;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.previous {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 806px;
  height: 551px;
  background-color: rgba(223, 235, 243, 1);
}

.previousTitle {
  font-size: 32px;
  color: rgba(45, 81, 119, 1);
  font-weight: 700;
}

.description {
  font-size: 16px;
  color: black;
}

.content {
  padding-left: 80px;
  padding-top: 40px;
}

.newsletterView {
  width: 577px;
  height: 50px;
  background-color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  gap: 10px;
  border-radius: 10px;
}

.timeSelect {
  padding-bottom: 31px;
  gap: 10px;
}

.sixMonth {
  height: 40px;
  border-radius: 4px;
  background-color: #ff8359;
  font-size: 14px;
}

.year {
  height: 40px;
  border-radius: 4px;
  background-color: rgba(216, 216, 216, 1);
  font-size: 14px;
  color: black;
  word-wrap: "break-word";
}

.pageSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
